services:
  postgres:
    image: postgres:17
    command: -d 1
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    healthcheck:
      test: [ CMD-SHELL, pg_isready -U postgres ]
      interval: 10s
      timeout: 5s
      retries: 5
   # minio:
     # image: minio/minio:RELEASE.2025-04-22T22-12-26Z
     # ports:
       # - ${MINIO_API_PORT}:9000
       # - ${MINIO_CONSOLE_PORT}:9001
     # environment:
       # MINIO_ROOT_USER: ${MINIO_ROOT_USER}
       # MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
       # MINIO_SERVER_URL: ${S3_ENDPOINT}
     # volumes:
       # - ./docker-data/minio:/data
     # command: server --console-address ":9001" /data
     # healthcheck:
       # test: [ CMD, mc, ready, local ]
       # interval: 30s
       # timeout: 20s
       # retries: 3

volumes:
  db_data:
